* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    height: 100%;
    width: 100%;
}

/* -------Main Section---------- */

.Main-section {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}

/* =============================== */
/* -----------Nav-Parent----------- */

.nav-parent {
    height: 10%;
    width: 100%;
    background-color: aliceblue;
    border-radius: 20px;
    border-bottom: solid gray;
    border-top: solid gainsboro;
    display: flex;
    justify-content: space-between;
}

/* =============================== */
/* ----------Nav-Bar------------- */

.nav-bar {
    color: slateblue;
    padding: 1rem 7rem;
}

.nav-section {
    display: flex;
    gap: 2rem;
    padding: 2rem 4rem;
}

.h:hover {
    color: rgba(52, 9, 244, 0.507);
}

/* ================================== */
/* ---------Hero-Text----------------- */

.hero-parent {
    height: 60%;
    width: 100%;
    padding: 5rem;
    position: relative;
    /* display: flex; */
    /* background-color: rgb(81, 156, 212); */
}

.hero-text {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-bottom: solid gray;
    position: relative;
    padding: 6rem;
}

.p {
    padding: 1rem 0 1rem 0;
}

.hr {
    height: 1%;
    width: 45%;
    background-color: black;
}

.profile-img {
    height: 50%;
    width: 16%;
    background-color: rgb(233, 227, 227);
    position: absolute;
    background-image: url(https://cdn-icons-png.flaticon.com/512/3135/3135715.png);
    background-position: center;
    background-size: 17rem;
    background-repeat: no-repeat;
    top: 8rem;
    left: 70rem;
    border-radius: 20rem;
}

/* ====================================== */
/* ----------buttons--------------------- */
.buttons {
    /* height: 4rem;
    width: 10rem; */
    position: absolute;
    top: 25rem;
    left: 12rem;
    /* background-color: black; */
}

.b {
    height: 3rem;
    width: 6rem;
    border-radius: 15px;
}

.b:hover {
    background-color: black;
    color: aliceblue;
}

.h1 {
    padding-bottom: 2rem;
}

/* ================================== */

/* ----------Main-2------------------ */

.main-2 {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}

/* ----------chart------------------ */
.chart {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 13rem;
}

.hobbies {
    width: 40%;
    height: 85%;
    background-color: white;
    border-bottom: solid gray;
    border-left: solid gray;
    border-radius: 10px;
    padding: 1rem 0 0 5rem;
}

.h3 {
    padding: 1rem 0 1rem 0;
}

.ul {
    font-size: 16px;
}

.resource {
    height: 85%;
    width: 40%;
    background-color: white;
    border-bottom: solid gray;
    border-left: solid gray;
    border-radius: 10px;
    padding: 1rem 0 0 5rem;
}

.li-1:hover {
    border-radius: 15px;
    color: blue;
}

.li-2:hover {
    border-radius: 15px;
    color: blue;
}

.li-3:hover {
    border-radius: 15px;
    color: blue;
}

.li-4:hover {
    border-radius: 15px;
    color: blue;
}

.li-5:hover {
    border-radius: 15px;
    color: blue;
}

.li-6:hover {
    border-radius: 15px;
    color: blue;
}

/* ================================== */
/* ---------Gallery--------------------- */
.g-main{
    height: 80vh;
    width: 100vw;
    background-color: antiquewhite;
}

.gallery-images {
    height: 50%;
    width: 70%;
    display: flex;
    padding: 5rem;
    gap: 1rem;
    border-radius: 20px;
    border-bottom: solid gray;
    border-left: solid gray;
    /* border-right: solid gray;
    border-top: solid gray; */
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.image-1{
    background-image: url(https://krisp.ai/blog/wp-content/uploads/2024/10/zoom18.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 300px;
    background-color: lightgray;
    border-radius: 20px;
}
.image-2{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20250512/pngtree-office-green-plants-with-white-area-image_17267458.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    background-color: lightgray;
}
.image-3 {
    background-image: url(https://resource.auditoryworks.co/server/history-post/images/6bc25e?x-oss-process=image/resize,w_1100/format,webp);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    background-color: lightgray;
}
/* ===================================== */
/* ---------Technical Skills-------------- */
.main-3 {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}
.skills {
    height: 100%;
    width: 100%;
    
}

.h4{
    text-align: center;
    padding: 1rem;
}


.t-1{
   margin: auto;
   border-collapse: collapse;
   width: 40%;
   height: 50%;
   text-align: center;
   background-color: white;
    border-radius: 20px;
   
}

.b1 {
    padding: 1rem;
    font-size: 15px;
}

.t0 {
    background-color: lightgray;
    padding: 1rem;
    height: 3rem;
}
/* ====================================== */
/* -----------Contact--------------------- */
.main-4 {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    position: relative;
    /* justify-content: space-evenly; */
}
.contact {
    height: 100%;
    width: 100%;
    padding-left: 8rem;
}
.h-0 {
    /* text-align: center; */
    padding-left: 36rem;
}

.c1{
    height: 30%;
    width: 40%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding-left: 1rem;
    border-bottom: solid gray;
    border-left: solid gray;
}

.c2{
    height: 45%;
    width: 40%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
     border-bottom: solid gray;
    border-left: solid gray;
}


.c3{
    height: 50%;
    width: 30%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 10rem;
    right: 5rem;
}

.li-0{
    padding: 10px;
    /* font-size: 20px; */
}

.video{
    height: 70%;
    width: 90%;
    border-radius: 15px;
    background-color: rgb(29, 26, 26);
    padding: 1rem;
    background-size: cover;
}
.c2{
    padding: 1rem;
}

.h-1{
    padding: 1rem;
}

.c3{
    padding: 1rem;
}
.form{
    padding: 1rem;
}

.form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.b-0{
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.b-0:hover {
    background-color: darkblue;
    color: white;
}
/* ========================================= */
/* -----------footer----------------------- */

.footer {
    width: 100vw;
    background-color: antiquewhite;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.f1{
    height: 70%;
    width: 100%;
   background-color: aliceblue;
    border-radius: 20px;
    padding: 2rem;
    margin: auto;
    text-align: center;
}

img {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}